@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;


&html::-webkit-scrollbar {
    width: 1rem;
}

&::-webkit-scrollbar-track {
    background: #fff;
}

&::-webkit-scrollbar-thumb {
    background: #10221b;
}

}

section {
    padding: 5rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: 0.2rem solid #10221b;
    color: #10221b;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;


&:hover {
    background: #10221b;
    color: #fff;
    }
    
}


.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
    color: #10221b;
}








@media (max-width: 1200px) {
    

    section {
        padding: 3rem 2rem;
    }

}


@media (max-width: 450px) {
    
    html {
        font-size: 50%;
    }

}