

.packages {
    background: #eee;
    
    
    & .box-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 1.5rem;
    
    
        & .box {
            text-align: center;
            background: #fff;
            border: 0.2rem solid #10221b;
            -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            border-radius: .5rem;
        
        
            & :hover {
                background: #10221b;
            }
            
            & :hover .content > * {
                color: #fff;
            }
            
            &:hover .btn {
                border-color: #fff;
            }
            
            & :hover .btn:hover {
                background: #fff;
                color: #10221b;
            }
            
            & .image {
                height: 25rem;
                overflow: hidden;
                padding: 2rem;
                padding-bottom: 0;
                border-radius: .5rem;
            
                
                & img {
                    height: 100%;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }
                
            & .content {
                padding: 2rem;
            
                
                & h3 {
                    font-size: 2rem;
                    color: #10221b;
                }
                
                & p {
                    font-size: 1.5rem;
                    color: #10221b;
                    padding: 1rem 0;
                    line-height: 2;
                }
                
                & .price {
                    font-size: 2rem;
                    color: #219150;
                }
            }
        }
    }
}                