

.shop .slide {
    border: 0.2rem solid #10221b;


    
    & .image {
        position: relative;
        overflow: hidden;
        height: 30rem;
        width: 100%;
    
    
        & .icons {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        
        
        & img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
        
        & .icons {
            width: 100%;
            position: absolute;
            bottom: 2rem;
            left: 0;
            text-align: center;
            z-index: 10;
            -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
        }
        
        & .icons a {
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.7rem;
            background: #10221b;
            color: #fff;
            margin: 0 .2rem;
        }
        
        & .icons a:hover {
            background: #219150;
        }
    }
    
    & .content {
        padding: 1rem 0;
        text-align: center;
    
    
        & h3 {
            font-size: 2rem;
            color: #10221b;
        }
        
        & .price {
            padding: 1rem 0;
            padding-top: .5rem;
            font-size: 2rem;
            color: #219150;
        }
        
        & .stars i {
            font-size: 1.7rem;
            color: #10221b;
        }
    }
}    